<section class="footer">
  <img src="../../img/logo/logo.png" alt="logo" />
  <ul id="footer">
    <li>
      instagram:
      <a href="https://www.instagram.com/bloomboardscharcuterie_/"
        >bloomboardscharcuterie_</a
      >
    </li>
    <li>
      Facebook:<a href="https://www.facebook.com/bloomboardscharcuterie"
        >Bloom Boards Charcuterie</a
      >
    </li>
  </ul>
</section>
