<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-signin-client_id" content="412846135780-d6fmkl44d2pj8jetmdnah1gifs87e390.apps.googleusercontent.com">
<title>Bloom Boards</title>
<link rel="stylesheet" href="/body.css" />
<script src="https://apis.google.com/js/platform.js" async defer></script>
