<div id="logo">
  <div id="title">
    <h1>Bloom Boards</h1>
    <h2>charcuterie</h2>
  </div>
</div>
<div id="links">
  <a href="/">Home</a> | <a href="/menu">Menu</a> |
  <a href="/orders/new">Create order</a> | <a href="/orders">orders</a> |
  <a href="/contact">Contact</a> |
  <% if(currentUser) { %>
		<form action="/account?_method=DELETE" method="POST">
			<input type="submit" value="Log Out" id="button" />
		</form>
	<% } else { %>
    <a href="/account/login">Login</a>
	<% } %>
</div>
