<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main>
      <section class="container" id="user">
        <div class="item" id="login">
          <h2>Create New Account</h2>
          <form action="/user" method="POST">
            <label for="email"
              >Email:<input type="email" name="email" id="Email"
            /></label>
            <label for="password"
              >Password:<input type="password" name="password" id="password"
            /></label>
            <input type="submit" value="Create Account" />
          </form>
          <a href="/account/login">Already Have Account?</a>
        </div>
      </section>
    </main>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>
