<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header')%>
  </head>
  <body>
    <nav>
      <%- include('./partials/nav') %>
    </nav>
   <main id="container">
    <h2>Contact</h2>
    <form action="">
      <label for="name">
        <input type="text" placeholder="name" required>
      </label>
      <label for="usercontact">
        <input type="text" placeholder="email" id="">
      </label>
      <label for="phone">
        <input type="text" placeholder="phone">
      </label>
      <label for="textbox">
        <textarea name="textbox" id="textbox" cols="30" rows="10"></textarea>
      </label>
    </form>
   </main>
  </body>
</html>