<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/Header')%>
  </head>
  <body>
    <nav><%- include('./partials/nav') %></nav>
    <div id="menu">
      <img src="https://i.imgur.com/CGNcoZn.jpg" alt="nothing">
      <h2>what a gouda day for cheese</h2>
      <form action="">
        <input type="submit" value="Menu" id="button" />
      </form>
    </div>
  </body>
</html>
