<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header')%>
  </head>
  <body>
    <nav>
      <%- include('./partials/nav') %>
    </nav>
    <div id="menu"></div>
  </body>
</html>
