<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
    <main class="container" id="user">
      <div class="item" id="login">
        <h2>login</h2>
        <form action="/account" method="POST">
          <label for="email"
            >Email:<input type="email" name="email" id="Email"
          /></label>
          <label for="password"
            >Password:<input type="password" name="password" id="password"
          /></label>
          <input type="submit" value="Login" id="button"/>
        </form>
        <a href="/user/new">Create New Account</a>
      </div>
    </main>

  </body>
</html>
