<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    </nav>
        <h2>Create New Account</h2>
        <form action="/user" method="POST">
            <input type="email" name="email" id="email">
            <input type="password" name="password" id="password">
            <input type="submit" value="Create Account">
        </form>
        <a href="/account/login">Already Have Account?</a>
    </div>
  </body>
</html>
