body {

}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 22rem;
  text-align: center;
}

#inner {
  justify-content: center;
  width: auto;
}
h2 {
  width: 20rem;
  text-align: center;
}

ul {
  width: max-content;
  display: block;
  
}
li {
  width: auto;
  text-decoration: none;
}