:root {
  --darkgreen: #738b84;
  --green: #91ac9d;
  --lightgreen: #99b7a5;
  --brown: #855b24;
  --black: #000000;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* NAV  */

nav {
  background-color: var(--lightgreen);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 10rem;
  height: fit-content;
  width: auto;
}

img {
  height: 10rem;
}

#links {
  justify-content: flex-end;
  background-color: var(--lightgreen);
  font-size: x-large;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: var(--black);
  text-shadow: 1px 1px 1px var(--white)
}

a:hover {
  color: var(--brown);
}

#logo {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: var(--white);
}

h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5)
}

h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5)
}

/* MAIN  */

body {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: fit-content;
  width: auto;
}

h3 {
  width: 100rem;
  height: fit-content;
  text-align: center;
}

ul {
  list-style-type: none;
  align-self: flex-start;
}
li {
  width: auto;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: fit-content;
  text-align: center;
  align-items: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 1rem;
  width: 100rem;
  box-shadow: 0px 0px 3px var(--green);
  text-align: center;
}

.item:hover {
  border: 1px solid var(--darkgreen);
  zoom: 1.05;
}

#button {
  color: var(--white);
  background-color: var(--green);
  border-radius: 1rem;
}

#button:hover {
  color: var(--brown);
}


/* MENU  */
.menu {
  max-width: 75rem;
}

#menu {
  width: 15rem;
  height: 25rem;
}

#menu > img {
  zoom: 1.2;
}

/* CONTACT  */

#contact {
  max-width: 40rem;
  align-self: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 20rem;
  height: 19rem;
  align-self: center;
}

.contact > label {
  max-width: 20rem;
}

#create {
  max-width: 30rem;
}

/* CREATE NEW USER/LOGIN  */

#user {
  height: 100vh;
}
#login {
  align-self: center;
  height: 20rem;
  width: 25rem;
}

#form {
  align-items: baseline;
}

#login > form > label > input {
  width: 15rem;
}

#login > form > label {
  margin: 0 2rem;
}

/* FOOTER  */

.footer {
  background-color: var(--lightgreen);
  display: flex;
  justify-content: center;
  min-height: 5rem;
  height: fit-content;
  width: auto;
}

#footer {
  width: 20rem;
  min-height: 5rem;
}

::-webkit-scrollbar {
  display: none;
}

/* HOME PAGE  */

.home {
  width: auto;
}

.homeMenu {
  align-self: flex-start;
}

.background {
  display: flex;
  background-size: cover;
  min-height: 60vh;
  min-width: 100vh;
  position: relative;
  color: var(--white);
  text-shadow: 2px 2px 2px rgba(0,0,0,.7);
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}

.homeItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 30rem;
  text-align: center;
}

.homeItems>h2 {
  max-width: 40rem;
  margin: 1rem;
}


/* ORDER  */

.orderitem {
  width: 60rem;
}