:root {
  --darkgreen: #738b84;
  --green: #91ac9d;
  --lightgreen: #99b7a5;
  --brown: #855b24;
  --black: #000000;
  --white: #ffffff;
}

body {
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  width: 100rem;
  height: fit-content;
  text-align: center;
}

ul {
  list-style-type: none;
  align-self: flex-start;
}
li {
  width: auto;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: fit-content;
  text-align: center;
  align-items: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 1rem;
  width: 100rem;
   box-shadow: 0px 0px 3px var(--green);
  text-align: center;
}

.item:hover {
  border: 1px solid var(--darkgreen);
  zoom: 1.05;
}


/* MENU  */
.menu {
  max-width: 75rem;
}

#menu {
  width: 15rem;
  height: 25rem;
}

#menu>img {
  zoom: 1.2;
}

/* CONTACT  */
#contact {
  max-width: 40rem;
  align-self: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 20rem;
  height: 19rem; 
  align-self: center;
}

.contact>label {
  max-width: 20rem;
}

.contact>textarea {
  
}

#create {
  max-width: 30rem;
}


/* CREATE NEW USER/LOGIN  */

#user {
  height: 100vh;
}
#login {
  align-self: center;
  height: 20rem;
  width: 25rem;
}

#form {
  align-items: baseline;
}

#login>form>label>input {
  width: 15rem;
}

#login>form>label {
  margin: 0 2rem;
}