:root {
  --darkgreen: #738B84;
  --green: #91ac9d;
  --lightgreen: #99b7a5;
  --brown: #855b24;
  --black: #000000;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: var(--lightgreen);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 10rem;
  height: fit-content;
  width: auto;
}

img {
  height: 10rem;
}

#links {
    justify-content: flex-end;
    background-color: var(--lightgreen);
    font-size: x-large;
    margin: 1rem;
}

a {
  text-decoration: none;
  color: var(--black)
}

a:hover {
    color: var(--brown)
}

#logo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--white);
}

h1 {
    font-size: 5rem;
}
