<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav') %>
    </nav>
    <main id="container">
      <ul>
      <% foundOrder.forEach(order => { %> 
        <li>
          <div>
            
          </div>
        </li>
        <%})%>
      </ul>
    </main>
  </body>
</html>
